*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* vh = segue a altura da página da pessoa */
:root{
    --primary-color: #d988d4;
    --secudary-color: #aa3dc3;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    font-family: "Righteous", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header div{
    display: flex;
    gap: 24px;
}
header a{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 16px;
    font-size: 24px;
    color: var(--secudary-color);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.title{
    position: relative;
    color: white;
    text-align: center;
}

.title h1{
    font-size: 20vw;
}
.title span{
    position: absolute;
    font-size: 25vw;
    left: 10%;
    top: -50%;
    opacity: 0.3;
}
.container{
    display: flex;  
}
.description{
    width: 50%;
    color: var(--secudary-color);
    z-index: 2;
}
.description h2{
    font-size: 64px;
}
.description p{
    font-size: 20px;
    width: 500px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.action a{
    height: 100px;
    width: 400px;
    background-color: var(--secudary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secudary-color);
    font-style: italic;
}
.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
}